<app-back-button></app-back-button>
<app-action-button></app-action-button>


  <div class="plant-layout">

    <div class="info top-left">

      <div class="info-title">
        <img src="assets/icons/humidity.png" alt="Wilgotność" class="info-icon smaller">
        Wilgotność
      </div>

      <div class="info-details">Umiarkowana 75%</div>

    </div>

    <div class="info top-right">

      <div class="info-title">
        <img src="assets/icons/sun.png" alt="Nasłonecznienie" class="info-icon">
        Naświetlenie
      </div>

      <div class="info-details">Jasne światło 95%</div>

    </div>

    <div class="plant-center">

      <img src="assets/icons/chaberek.png" alt="Kwiat" class="plant-img">

      <button class="edit-icon">
        <img src="assets/icons/change.png" alt="Edytuj">

      </button>

    </div>

    <div class="info bottom-left">
      <div class="info-title">
        <img src="assets/icons/temp-white.png" alt="Temperatura" class="info-icon">
        Temperatura
      </div>

      <div class="info-details">Odpowiednia 75°C</div>

    </div>
    <div class="info bottom-right">
      <div class="info-title">
        <img src="assets/icons/plant.png" alt="Nawożenie" class="info-icon">
        Nawożenie
      </div>

      <div class="info-details">Słabe 53%</div>
    </div>
  </div>

