<app-back-button></app-back-button>
<app-action-button></app-action-button>


<div class="rooms-grid">

  <div  class="room" (click)="goToRoom()">

    <h2>Pokój 1</h2>

    <div class="room-content">

      <div class="room-image">
        <img src="/assets/pokojowka.png" alt="Pokojówka" />
      </div>

      <div class="room-info">
        <div class="info-row">
          <span>Temperatura</span>
          <span class="info-value">17°</span>
        </div>

        <div class="info-row">
          <span>Wilgotność</span>
          <span class="info-value">45%</span>
        </div>

        <div class="info-row">
          <span>Jakość powietrza</span>
          <span class="info-value">50 AQI</span>
        </div>

      </div>

    </div>

  </div>

  <div class="room" (click)="goToRoom()">

    <h2>Pokój 2</h2>

    <div class="room-content">

      <div class="room-image">
        <img src="/assets/pokojowka.png" alt="Pokojówka" />
      </div>

      <div class="room-info">
        <div class="info-row">
          <span>Temperatura</span>
          <span class="info-value">17°</span>
        </div>

        <div class="info-row">
          <span>Wilgotność</span>
          <span class="info-value">45%</span>
        </div>

        <div class="info-row">
          <span>Jakość powietrza</span>
          <span class="info-value">50 AQI</span>
        </div>

      </div>

    </div>

  </div>

  <div class="room" (click)="goToRoom()">

    <h2>Pokój 3</h2>

    <div class="room-content" >

      <div class="room-image">
        <img src="/assets/pokojowka.png" alt="Pokojówka" />
      </div>

      <div class="room-info">

        <div class="info-row">
          <span>Temperatura</span>
          <span class="info-value">17°</span>
        </div>

        <div class="info-row">
          <span>Wilgotność</span>
          <span class="info-value">45%</span>
        </div>

        <div class="info-row">
          <span>Jakość powietrza</span>
          <span class="info-value">50 AQI</span>
        </div>

      </div>

    </div>

  </div>

  <div class="room" (click)="goToRoom()">

    <h2>Pokój 4</h2>

    <div class="room-content">

      <div class="room-image">
        <img src="/assets/pokojowka.png" alt="Pokojówka" />
      </div>

      <div class="room-info">

        <div class="info-row">
          <span>Temperatura</span>
          <span class="info-value">17°</span>
        </div>

        <div class="info-row">
          <span>Wilgotność</span>
          <span class="info-value">45%</span>
        </div>

        <div class="info-row">
          <span>Jakość powietrza</span>
          <span class="info-value">50 AQI</span>
        </div>

      </div>

    </div>

  </div>

</div>
